<!-- <div>
<h2>Datos de usuario</h2>
<div class="form-group">
  <label for="nombre">Nombre</label>
  <input type="text" class="form-control" id="nombre"  placeholder="Introduzca nombre" [(ngModel)]="persona.nombre">
</div>
<div class="form-group">
  <label for="apellidos">Apellidos</label>
  <input type="text" class="form-control" id="apellidos" placeholder="Introduzca apellidos" [(ngModel)]="persona.apellidos">
</div>
<div class="form-group">
  <label for="nombre">Teléfono</label>
  <input type="text" class="form-control" id="teléfono" placeholder="Introduzca telefono" [(ngModel)]="persona.telefono">
</div>
<div class="form-group">
  <label for="nombre">Correo electrónico</label>
  <input type="text" class="form-control" id="email"  placeholder="Introduzca correo electrónico" [(ngModel)]="persona.correo">
</div>
<div class="form-group">
  <label for="nombre">Departamento</label>
  <input type="text" class="form-control" id="departamento"  placeholder="Introduzca departamento" [(ngModel)]="persona.departamento">
</div>
</div> -->