<!-- <form>
  <form>
    <app-datos-persona></app-datos-persona>
    <app-datos-proveedor></app-datos-proveedor>
    <app-datos-proyecto></app-datos-proyecto>
    <app-concepto-gasto></app-concepto-gasto>
    <app-adjuntar-pdf></app-adjuntar-pdf>
    <div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    
    
  </form> -->
  <div class="col-1-of-2">
  <mat-card class="card card--form">
      <mat-card-header class="card__header">
        <mat-card-title>Datos de reserva</mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <form class="example-form" [formGroup]="reserverForm">
            <table class="card__table" cellspacing="0">

                <tr class="card__row">
                    <td>Datos del Proveedor</td>
                </tr>

                <tr>
                  <td>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="CIF del proveedor" [(ngModel)]="cifProvider" name="cifProvider"
                      type="text" formControlName="cif" required>

                      <mat-error *ngFor="let validation of account_validation_messages.cif">
                          <mat-error class="error-message" *ngIf="reserverForm.get('cif').hasError(validation.type) && (reserverForm.get('cif').dirty || reserverForm.get('cif').touched)">{{validation.message}}
                          </mat-error>
                      </mat-error>
                    </mat-form-field>
                  </td>
                </tr>

                <tr class="card__row">
                  <td>Seleccione Proyecto</td>
                </tr>

                <tr>
                    <td>
                        <select id="selectProject" class="form-control">
                          <option>Default select</option>
                        </select>
                      </td>
                </tr>

                <tr class="card__row">
                    <td>Concepto de gasto</td>
                </tr>

                <tr >
                  <td>
                    <mat-form-field class="example-full-width">
                      <input matInput formControlName="concept" placeholder="Nombre del concepto" [(ngModel)]="nameConcept" name="nameConcept" required>
                      
                      <mat-error *ngFor="let validation of account_validation_messages.concept">
                          <mat-error class="error-message" *ngIf="reserverForm.get('concept').hasError(validation.type) && (reserverForm.get('concept').dirty || reserverForm.get('concept').touched)">{{validation.message}}
                          </mat-error>
                      </mat-error>
                    </mat-form-field>
                  </td>
                  <td>
                    <select id="selectTypeConcept" class="form-control">
                      <option value="product">product</option>
                      <option value="service">service</option>
                    </select>
                  </td>
                </tr>

                <tr class="card__row">
                    <td>Preesupuesto</td>
                </tr>

                <tr>
                  <td>
                    <mat-form-field class="example-full-width">
                      <input matInput formControlName="budget" [(ngModel)]="budget" name="budget" type="number" value="0" required>
                    
                      <mat-error *ngFor="let validation of account_validation_messages.budget">
                          <mat-error class="error-message" *ngIf="reserverForm.get('budget').hasError(validation.type) && (reserverForm.get('budget').dirty || reserverForm.get('budget').touched)">{{validation.message}}
                          </mat-error>
                      </mat-error>
                    </mat-form-field>
                  </td>
                </tr>

                <tr *ngIf="message">
                    <p *ngIf="!error" class="card__text--ok paragraph">{{message}}</p>
                    <p *ngIf="error" class="card__text--error paragraph">{{message}}</p>
                </tr>

            </table>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="submit()" color="primary">Submit</button>
      </mat-card-actions>
  </mat-card>

  </div>
  <div class="col-1-of-2">
      <table mat-table [dataSource]="dataSource" class="width-table mat-elevation-z8">
        
          <!-- Name Column -->
          <ng-container matColumnDef="invoice_code">
            <th mat-header-cell *matHeaderCellDef> Código de Factura </th>
            <td mat-cell *matCellDef="let element"> {{element.invoice_code}} </td>
          </ng-container>
        
          <!-- Symbol Column -->
          <ng-container matColumnDef="button">
            <th mat-header-cell *matHeaderCellDef> Confirmar </th>
            <td mat-cell *matCellDef="let element"><button mat-raised-button (click)="confirm(element._id)" color="primary">Confirm</button></td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          
        </table>
        <mat-paginator class="width-table" [pageSizeOptions]="[9, 5]" showFirstLastButtons></mat-paginator>
  </div>