<mat-card class="card card--register">
    <mat-card-header class="card__header">
      <mat-card-title>Sign Up</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="example-form" [formGroup]="registerForm">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput formControlName="name" placeholder="Name" [(ngModel)]="name" name="name">
              
                <mat-error *ngFor="let validation of account_validation_messages.name">
                    <mat-error class="error-message" *ngIf="registerForm.get('name').hasError(validation.type) && (registerForm.get('name').dirty || registerForm.get('name').touched)">{{validation.message}}
                    </mat-error>
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput formControlName="surname" placeholder="Surname" [(ngModel)]="surname" name="surname">
              
                <mat-error *ngFor="let validation of account_validation_messages.surname">
                    <mat-error class="error-message" *ngIf="registerForm.get('surname').hasError(validation.type) && (registerForm.get('surname').dirty || registerForm.get('surname').touched)">{{validation.message}}
                    </mat-error>
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput formControlName="email" type="email" placeholder="Email" [(ngModel)]="email" name="email" required>
              
                <mat-error *ngFor="let validation of account_validation_messages.email">
                    <mat-error class="error-message" *ngIf="registerForm.get('email').hasError(validation.type) && (registerForm.get('email').dirty || registerForm.get('email').touched)">{{validation.message}}
                    </mat-error>
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput formControlName="password" type="password" placeholder="Password" [(ngModel)]="password"type="password" name="password" required>
              
                <mat-error *ngFor="let validation of account_validation_messages.password">
                    <mat-error class="error-message" *ngIf="registerForm.get('password').hasError(validation.type) && (registerForm.get('password').dirty || registerForm.get('password').touched)">{{validation.message}}
                    </mat-error>
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput formControlName="phone" placeholder="Phone" [(ngModel)]="phone" name="phone">
              
                <mat-error *ngFor="let validation of account_validation_messages.phone">
                    <mat-error class="error-message" *ngIf="registerForm.get('phone').hasError(validation.type) && (registerForm.get('phone').dirty || registerForm.get('phone').touched)">{{validation.message}}
                    </mat-error>
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput formControlName="departament" placeholder="Departament" [(ngModel)]="departament" name="departament">
              
                <mat-error *ngFor="let validation of account_validation_messages.departament">
                    <mat-error class="error-message" *ngIf="registerForm.get('departament').hasError(validation.type) && (registerForm.get('departament').dirty || registerForm.get('departament').touched)">{{validation.message}}
                    </mat-error>
                </mat-error>
              </mat-form-field>
            </td>
          </tr>

          <tr class="card__row">
              <td>Seleccione Proyecto</td>
            </tr>

            <tr>
                <td>
                    <select id="selectSignUp" class="form-control">
                      <option>Default select</option>
                    </select>
                  </td>
            </tr>
          
          <tr *ngIf="message">
            <p *ngIf="!error" class="card__text--ok paragraph">{{message}}</p>
            <p *ngIf="error" class="card__text--error paragraph">{{message}}</p>
          </tr>
        </table>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="signUp()" color="primary">Sign Up</button>
    </mat-card-actions>
  </mat-card>